<!DOCTYPE html>
<html>
<head><title>Estado de Pagos</title></head>
<body>
    <h2>Estado de Pagos de Todos los Residentes</h2>
    <a href="{% url 'crear_pago' %}">+ Nuevo pago</a>
    <table border="1">
        <tr><th>Residente</th><th>Tipo</th><th>Mes/Año</th><th>Valor</th><th>Vencimiento</th><th>Estado</th></tr>
        {% for p in pagos %}
        <tr>
            <td>{{ p.id_residente_fk }}</td>
            <td>{{ p.tipo_pago }}</td>
            <td>{{ p.mes_ano|date:"F Y" }}</td>
            <td>${{ p.valor }}</td>
            <td>{{ p.fecha_vencimiento }}</td>
            <td>{{ p.estado }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>